header {
	width: 100%;
	padding: 0 5vw;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	#gnb {
		width: 65%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50;
		li a {
			color: #333;
		}
	}
}
